.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

/* .images {
  max-width: 200px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.kartat {
  max-width: 400px;
  margin: 20px;
} */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat&display=swap');

body {
  background-color: #fafafa;
  color: #5a5a5a;
}

p {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Libre Baskerville', serif;
}



